@media only screen and (min-width:320px) and (max-width:500px) {
    header {
        margin: 1%;
        width: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
    }

    header #part1 #num {
        display: none;
    }

    i.fa-brands {
        display: none;

    }

    i.fa-solid.fa-basket-shopping {
        display: none;

    }

    i.fa-solid.fa-phone {
        display: none;
    }

    header #part2 {
        margin-left: 5%;
        width: 25%;

    }

    header input {
        text-decoration: underline;
        width: 44%;
        color: #949494;
        border: none;
    }

    header input:focus {
        outline: none;
    }

    header #part2 .cart {
        text-decoration: underline;
    }

    header span {
        color: blue;
    }

    nav {
        height: 15%;
        background-color: blue;
        color: #fff;
        padding: 1%;
    }

    nav ul,
    ul li {
        display: inline;
        margin: 2%;
    }

    nav ul .media {
        display: none;
    }

    nav ul li select {
        border: none;
        background-color: blue;
        color: #fff;
    }
    main .part1{
        margin-bottom: 12%;
    }
    main .part2{
        width: 100%;
    }
    main .part2 input{
        margin: 8% 4% 2% 8%;
        width: 70%;
    }
    main .part2 button{
        margin: 8% 1% 2% 8%;
        
    }
    main .part2 a{
        margin: 1% 4% 2% 2%;    
    }
    main .part2 b{
        margin: 12% 0% 2% 8%;
    }
    main .part2 a{
        margin: 1% 4% 2% 0%;
    }


    footer {
        background-color: rgb(1, 1, 45);
        color: #fff;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto auto;
        justify-items: center;
        margin-top: 10%;
        padding-top: 2%;
        row-gap: 4%;
    }

    footer ul li {
        display: block;
    }

    footer #part5 {
        grid-area: 3/ 1/ 4/ 5;
        margin-top: 1%;
        margin-bottom: 4%;
    }

    footer hr {
        width: 100%;
        grid-area: 2/ 1/ 3/ 5;
    }

    footer #text1 {
        font-size: larger;
    }

    footer #part4 #text1 {
        color: blue;
    }

    footer #part5 {
        font-size: small;
    }
}